<!-- The network we want to model. -->
<System name = "root">
  <Timeout defaultTimeout = "5s" name = "Client">
    <Threshold dest = "*" method = "create" time = "5s"></Threshold>	
    <Threshold dest = "TinyURL" method = "resolve" time = "2s"></Threshold>
    <Generator name = "Gen">
      <Traffic dest = "TinyURL" method = "create" weight = "20"></Traffic>
      <Traffic dest = "TinyURL" method = "resolve" weight = "80"></Traffic>	
    </Generator>
  </Timeout>
  <Network name = "TinyURL">
    <Router name = "TUWeb">
      <Series name = "resolve">
        <Call dest = "TUDB" method = "get"></Call>
      </Series>
      <Series name = "create">
        <Call dest = "TUDB" method = "put" ></Call>
      </Series>
    </Router>
    <Queue name = "TUDB">
      <Network name = "DBNode">
        <Router name = "Controller">
          <Series name = "put">
            <Call dest = "TinyURLTable" method = "insert"></Call>
            <Call dest = "PKeyIndex" method = "insert"></Call>
            <Call dest = "LongURLIndex" method = "insert"></Call>
          </Series>
          <Series name = "get">
            <Call dest = "PKeyIndex" method = "findEquals"></Call>
            <Call dest = "TinyURLTable" method = "findEquals"></Call>
          </Series>
        </Router>
        <HeapFile name = "TinyURLTable"></HeapFile>
        <HashIndex name = "PKeyIndex"></HashIndex>
        <HashIndex name = "LongURLIndex"></HashIndex>
        <Forward name = "*" to = "Controller"></Forward>
      </Network>
    </Queue>
    <Forward name = "*" to = "TUWeb"></Forward>
  </Network>
</System>
