<!DOCTYPE html>
<html>
  <head> {{>commonHeaders}} </head>
  <body>
    <div id = "header_div"><h1>Welcome</h1></div>
    <div id = "center_div">
      Write your content here.
    </div>
    <div id = "footer_div">
      <a style="float: left" href = "/demos/">Previous - &lt; Link to previous topic to go to </a>
      <a style="float: right" href = "/demos/">Next -  Link to next topic to go to &gt;</a>
    </div>
    {{>commonFooters}}
  </body>
</html>
