<!DOCTYPE html>
<html>
  <head>{{>commonHeaders}} </head>
  <body>
    <div id = "header_div"><h1>Welcome</h1></div>
    <div id = "center_div">
      <p>
      It is 2020.  The social networks that were meant to democratize democracy have led us to a dystopia filled with Cancel Culture and Bullying robbing us of Safety.  You decide to take matter into your own hands.   You decide to build your own Social Network!   It will be a safe and trusted place for ALL.  It will bring back civility, friendliness, hope and most importantly Hope in a better world!   It will be <strong>your</strong> personal space to connect, share, learn and grow with your mates and to give back to a future we all yearn for.  
      </p>
      <p>
      <center>You call it the <strong>Comeyounity</strong>!</center>
      </p>
      <p>
      "What would you like to do in your Comeyounity?" you ask.   Well you think about it and come up with a few features you definitely want to have:

      <ol>
        <li>Find and Connect with your mates</li>
        <li>Share stuff you care about with your mates</li>
        <li>Discover what your mates are talking about</li>
        <li>Chat with your mates in private at times</li>
        <li>Learn and Teach!</li>
        <li>We <strong>absolutely</strong> want Comeyounity to be a safe and trusted place for all of us</li>
        <li>Have Fun!</li>
      </ol>

      These are pretty aspirational goals.  So naturally you decide to break them one by one.  You are tempted to just start hacking and build a landing page.  But then you realize being a one person team (for now) you cannot chew it all.   So you tackle them one by one.  More importantly having an eye towards the future you realize that you need to build these in a way that can grow indepentanly and have points to connect to each other.  Also you realise you are not quite a UX designer.  Let us be real - Design is *hard*.   You partner with a close mate of yours who has an incredible eye for detail and just gets Design and Information Hierarchy and Colors.  A god of Design indeed!   You both decide that instead of building a giant app you will build these as <strong>Services</strong> so your amazing Design God of partner can call the services to hackaway on the front end independantly with great agility.
      </p>
      <p>
      Fair enough.  So let us get started and tackle each of the pieces one by one.
      </p>
    </div>
    <div id = "footer_div">
      <a style="float: left" href = "/demos/">Previous - Demos</a>
      <a style="float: right" href = "/demos/mymates/">Next - My Mates</a>
    </div>
    {{>commonFooters}}
  </body>
</html>
